APP_NAME=gopher-identity-service
APP_ENV=production
APP_HTTP_PORT=8001
APP_SECRET_KEY=your-secret-key-here
APP_MAX_DEVICES_PER_USER=3

#DATABASE
DATABASE_HOST=identity-db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your-db-password
DATABASE_DBNAME=foody_identity_dev_db

#JWT AUTH TOKEN
JWT_ACCESS_SECRET=your-access-secret
JWT_ACCESS_TTL=30m
JWT_REFRESH_SECRET=your-refresh-secret
JWT_REFRESH_TTL=168h

## LOGGER
LOGGER_LEVEL=info
